:root{
    --color-main: #FFC300;
    --color-second: #18223B;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--color-second);
}

article a{
    text-decoration: none;
}
nav{
    background-color: var(--color-second);
}
.navbar-brand{
    color: var(--color-main);
}

h1{
    color: var(--color-main);
    text-align: center;
    margin: 5%;
}

main{
    padding: 0% 10% 10% 10%;
}

.card{
    background-color:lightgray;
}
.card:hover{
    background-color:grey ;
}

.btn-warning:hover{
    background-color: var(--color-second);
    color: var(--color-main);
    
}

#whatsapp a {
    text-decoration: none;
    color: var(--color-main);
}

/**
a{
    text-decoration: none;
  }
  #whatsapp {
      position: fixed;
      bottom: 5%;
      right:5%;
  }
  svg {
      
      display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  }
  circle {
    fill: #25d366;
  }
  path {
      fill:  #fff;
  }
  #whatsapp a {padding: 20px 0;}
  #whatsapp a::before {
      content: 'Contacto';
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      margin-right: 10px;
      color: rgba(0, 0, 0, .8);
      background: white;
      border: 1px solid #ccc;
      border-radius: 20px;
      filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
      transition: .3s ease;
      opacity: 0;
  }
  #whatsapp:hover a::before {opacity: 1;}**/
footer{
    background-color: var(--color-main);
    
}