:root{
    --color-main: #FFC300;
    --color-second: #18223B;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--color-second);
}

nav{
    background-color: var(--color-second);
}
.navbar-brand{
    color: var(--color-main);
}
#whatsapp a {
    text-decoration: none;
    color: var(--color-main);
}
main{
    padding: 0% 20%;
}

.descripcion{
    background-color: #ffc40063;
    margin: 5% 0%;
    padding: 5%;
    color: white;
}

.descripcion h3{
    text-align: center;
}

.descripcion p{
    font-size: small;
}


footer{
    background-color: var(--color-main);
    
}


